:root {
  --sortBlue: #3282f7;
  --sortGreen: #68d9a4;
  --sortRed: #ed6454;
  --BgArticle: #e7e7e7;
}

body {
  font-family: "Lato";
}
#search-bar,
.card-body {
  background: var(--BgArticle);
}
form {
  margin: 1rem 0;
}
li {
  list-style: none;
}
ul {
  font-size: 12px;
  position: relative;
  padding: 0;
}
p {
  font-size: 12px;
}

/* SearchBar */
.input-group {
  border-radius: 5px;
  overflow: hidden;
}
.input-group img {
  position: absolute;
  right: 10px;
  top: 7px;
  z-index: 10;
}
/* Tag */
.ul_tag {
  flex-wrap: wrap;
  gap: 0.3rem;
}
.ul_tag--li {
  padding: 0.5rem;
  border-radius: 5px;
}
.ul_tag--li img {
  padding-left: 0.5rem;
}
.ul_tag--li:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

/* Input Tag */
#ingredient,
#appareil,
#ustensile {
  outline-offset: none;
  border: none;
}

#ingredient,
#ingredient::placeholder,
#appareil,
#appareil::placeholder,
#ustensile,
#ustensile::placeholder {
  color: white;
}
#ingredient::selection {
  background: var(--BgArticle);
  color: var(--sortBlue);
}
/* dropdown */
#ul-blue {
  transform: translate3d(0px, 56px, 0px) !important ;
}
.dropdown-menu {
  max-width: 70rem;
}
.dropdown-menu.show {
  width: 65vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem !important;
}

.dropdown-item {
  width: calc(275% / 14 - 0.5rem);
  white-space: normal;
}

.dropdown-item:hover {
  color: black !important;
}

.dropdown-toggle::after {
  border: none;
  content: url("../assets/dropdown.svg");
  position: relative;
  top: 5px;
}
.dropdown-toggle.show::after {
  content: url("../assets/dropdown.svg");
  transform: rotate(180deg);
  top: 0;
}

/* Card */
.card {
  height: 380px;
  width: 22rem;
}
.card:hover {
  transition: 0.3s;
  box-shadow: 0px 6px 9px 0px rgb(0 0 0 / 40%);
}
.card-title {
  font-size: 18px;
}
.desc_bloc {
  height: 130px;
  gap: 0.2rem;
}
@media all and (max-width: 575px) {
  .dropdown-item {
    width: calc(275% / 8 - 0.5rem);
  }
  #ul-red,
  #ul-green {
    transform: translate3d(0px, 56px, 0px) !important ;
  }
  #ul-blue,
  #ul-red,
  #ul-green {
    inset: 0px 0px auto 0px !important;
  }
}
