:root {
  --sortBlue: #3282f7;
  --sortGreen: #68d9a4;
  --sortRed: #ed6454;
  --BgArticle: #e7e7e7;
}

body {
  font-family: "Lato";
}
#search-bar,
.card-body {
  background: var(--BgArticle);
}
form {
  margin: 1rem 0;
}
/* SearchBar */
.input-group {
  border-radius: 5px;
  overflow: hidden;
}
.input-group img {
  position: absolute;
  right: 10px;
  top: 7px;
  z-index: 10;
}
/* Input Tag */
#ingredient,
#appareil,
#ustensile {
  outline-offset: none;
  border: none;
}

#ingredient,
#ingredient::placeholder,
#appareil,
#appareil::placeholder,
#ustensile,
#ustensile::placeholder {
  color: white;
}
ul {
  position: relative;
}

/* dropdown */
.dropdown-menu.show {
  width: 70vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dropdown-item {
  width: calc(300% / 11 - 2rem);
  white-space: normal;
}
.dropdown-item:hover {
  color: black !important;
}

.dropdown-toggle::after {
  border: none;
  content: url("../assets/dropdown.svg");
  position: relative;
  top: 5px;
}
/* Card */
.card {
  height: 380px;
  width: 22rem;
}
.card-title {
  font-size: 18px;
}
.desc_bloc {
  height: 130px;
  gap: 0.2rem;
}
ul {
  font-size: 12px;
}
p {
  font-size: 12px;
}
